- @page_title = "Autoplay video upon page load"

%h2= @page_title

:textile
  Playing a video on page load is possible using the "@autoplay@ setting":player-settings. _Please note this currently doesn't work on iOS devices._

  h3(#demo). "Demo":#demo

  <iframe style="width: 100%; height: 300px" src="http://jsfiddle.net/sublimevideo/FfwbC/embedded/result,html" allowfullscreen frameborder="0"></iframe>
