- @page_title = "Autoplay video upon page load"

%h2= @page_title

:textile
  To automatically play a video upon page load, you can use the following "player setting":player-settings (_please note this currently doesn't work on iOS devices_):

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
  %tr.alt
    %th Name
    %th Values
    %th Default
    %th Notes
  %tr
    %td
      %strong autoplay
    %td <code>false</code><br /><code>true</code>
    %td <code>false</code>
    %td Allows to autoplay the video upon page load.

:textile
  h4(#demo). "Demo":#demo

  #{jsfiddle_embed('FfwbC', height: 350)}
