- @page_title = "Returning to the initial state once video playback ends"

%h2= @page_title

:textile

  Sometimes you may want to return to the video's initial state – with the initial start view – once a video has finished playing. You can use the following "player setting":player-settings:

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
  %tr.alt
    %th Name
    %th Values
    %th Default
    %th Description & Notes
  %tr
    %td
      %strong on-end
    %td <code>nothing</code><br /><code>replay</code><br /><code>stop</code>
    %td <code>nothing</code>
    %td.notes Allows you to choose between: doing nothing, replaying the video, or displaying the start view when a video playback ends.

:textile
  h3(#demo). "Demo":#demo

  #{jsfiddle_embed('BrHX5', height: 350)}
