- @page_title = "Customize the start view"

%h2= @page_title

:textile
  The default start view ensures compatibility across all browsers (down to IE6). We strongly discourage you from modifying it using CSS.

  h3. Customize or disable the initial overlay

  You can use the following "player setting":settings/player-settings:

  h4(#initial-overlay-enable). "@initial-overlay-enable@":#initial-overlay-enable

  Allows you to enable or disable the initial overlay.

  *Allowed values:*
  * @true@ – _(Default)_ Show the initial overlay.
  * @false@ – Disable the initial overlay.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='initial-overlay-enable:false'>
    ...
  </video>

  h4(#initial-overlay-visibility). "@initial-overlay-visibility@":#initial-overlay-visibility

  Allows you to choose how the initial overlay is displayed.

  *Allowed values:*
  * @autofade@ – _(Default)_ The initial overlay autofade on mousover.
  * @visible@ – The initial overlay is always visible and doesn't fade-out on mouseover.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='initial-overlay-visibility:visible'>
    ...
  </video>

  h4(#initial-overlay-color). "@initial-overlay-color@":#initial-overlay-color

  Allows you to choose the initial overlay color.

  *Allowed values:*
  * @word@ – e.g. @red@, @green@
  * @#hexadecimal@ – e.g. @#fff@ or @#dd0066@
  * @rgb@ – e.g. @rgb(255, 100, 0)@

  *Note:*
  * Default is set to @black@.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='initial-overlay-color:red'>
    ...
  </video>

  h4. Demo

  #{jsfiddle_embed('JpjXu', height: 350)}

  h3. Use a custom start view

  You can also use your own custom start view using our "JavaScript API":javascript-api to start the video playback as soon as the user clicks on your new custom view.

  In the example below we're using a simple @<div>@ placeholder as the custom start view.

  h4. Demo

  #{jsfiddle_embed('xM6Fv', panes: 'result,html,js')}

  *Note:*

  * Don't add the _sublime_ @class@ to the @<video>@ element since the video will be prepared through the JS API.
  * Make sure you embed the jQuery library (you can find the latest version "here":http://code.google.com/apis/libraries/devguide.html#jquery) in your page!
  * Put the JavaScript code in a @<script>@ element just before the @</body>@ tag, or in an external file.
