- @page_title = "Customize the start view"

%h2= @page_title

:textile
  The default initial play button ensures compatibility across all browsers (down to IE6). We strongly discourage you from modifying it using CSS.

  h3. Customize or disable the initial overlay

  You can use the following "player setting":player-settings:

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
  %tr.alt
    %th Name
    %th Values
    %th Default
    %th Description & Notes
  %tr
    %td
      %strong initial-overlay
    %td <code>none</code><br /><code>autofade</code>
    %td <code>autofade</code>
    %td.notes Allows you to choose between: hiding the initial overlay effect or displaying it (default).

:textile

  #{jsfiddle_embed('JpjXu', height: 400)}

  h3. Use a custom start view

  You can also use your own custom start view using our "JavaScript API":javascript-api to start the video playback as soon as the user clicks on your new custom view.

  In the example below we're using a simple @<div>@ placeholder as the custom start view.

  #{jsfiddle_embed('xM6Fv', panes: 'result,html,js')}

  *Note:*

  * Don't add the _sublime_ @class@ to the @<video>@ element since the video will be prepared through the JS API.
  * Make sure you embed the jQuery library (you can find the latest version "here":http://code.google.com/apis/libraries/devguide.html#jquery) in your page!
  * Put the JavaScript code in a @<script>@ element just before the @</body>@ tag, or in an external file.
