- @page_title = "Keyboard control"

%h2= @page_title

:textile
  The built-in keyboard control feature gives your visitors simple yet powerful keyboard shortcuts to control the video playback, source switching, fullmode and volume level.

  Following is the exhaustive list of these shortcuts:

  h3(#playback). "Playback and source switching":#playback

  * @space@: Play / pause the current video.
  * @h@: Switch to / from the HD source of the current video (if available).
  * @left@: Jump back 5 seconds in the current video.
  * @right@: Jump ahead 5 seconds in the current video.
  * @shift@ + @left@: Jump back 10 seconds in the current video.
  * @shift@ + @right@: Jump ahead 10 seconds in the current video.
  * @0 to 9@: Seek to the 0% to 90% of the current video.

  h3(#fullmode). "Fullmode & lightbox control":#fullmode

  * @esc@: Exit fullmode or lightbox.
  * @f@: Enter / exit fullmode.
  * @alt@ + @f@: Enter / exit "the other" fullmode, i.e. if the default is fullscreen, it enters full-window and vice versa.

  h3(#volume). "Volume control":#volume

  * @m@: Mute / Unmute the current video.
  * @up@: Increase the current video volume level by 5%.
  * @down@: Decrease the current video volume level by 5%.
