- @page_title = "Loop a video"

%h2= @page_title

:textile
  To loop the video once its playback ends, you can use the following "player setting":player-settings:

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
  %tr.alt
    %th Name
    %th Values
    %th Default
    %th Notes
  %tr
    %td
      %strong loop
    %td <code>true</code><br /><code>false</code>
    %td <code>false</code>
    %td.notes Loops the video once its playback ends.

:textile
  h3(#demo). "Demo":#demo

  #{jsfiddle_embed('q6xKp', height: 300)}
