- @page_title = "Loop a video"

%h2= @page_title

:textile
  Looping a video is possible using the "@loop@ setting":player-settings.

  h3(#demo). "Demo":#demo

  <iframe style="width: 100%; height: 300px" src="http://jsfiddle.net/sublimevideo/q6xKp/embedded/result,html" allowfullscreen frameborder="0"></iframe>
