- @page_title = "Player settings"

%h2= @page_title

:textile

  h3. Usage

  Settings can be set via a @data-@ attribute on the @<video>@ element, for instance:

  @<video data-autoresize="fit" data-initial-overlay="none" ...>@

  or grouped in a single data-settings attribute as a CSS-like formatted string:

  @<video data-settings="autoresize: fit; initial-overlay: none;" ...>@

  Settings can also be set with the JavaScript API via a key-value object, in this case the "dash-separated" properties needs to be written as "camelCase", similarly to what happens with CSS properties set via JavaScript.

  h3. Video Settings

  These settings must be applied on the @<video>@ element.

  h4. General

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
  %tr.alt
    %th Name
    %th Values
    %th Default
    %th Description & Notes
  %tr
    %td
      %strong initial-overlay
    %td <code>default</code>, <code>none</code>
    %td <code>default</code>
    %td Allows to disable the initial overlay effect.
  %tr.alt
    %td
      %strong initial-overlay-color
    %td <code>word</code>, <code>#hex</code>, <code>rgb</code>
    %td <code>default</code>
    %td Allows to customize the initial overlay color.
  %tr
    %td
      %strong autoresize
    %td <code>none</code>, <code>fill</code>, <code>fit</code>
    %td <code>none</code>
    %td Allows to automatically resize the video when its parent container is resized. See the <a href="autoresize">autoresize</a> page.
  %tr.alt
    %td
      %strong force-flash
    %td <code>false</code>, <code>true</code>
    %td <code>false</code>
    %td Allows to force the usage of Flash for the video decoding instead of the native browser decoding.
  %tr
    %td
      %strong badge-position
    %td <code>right</code>, <code>left</code>
    %td <code>right</code>
    %td Allows to choose where the SublimeVideo logo should be placed.
  %tr.alt
    %td
      %strong controls
    %td <code>default</code>, <code>none</code>, <code>sticky</code>
    %td <code>default</code>
    %td Allows to completely hide the controls or to always display them.
  %tr
    %td
      %strong stop-on-end
    %td <code>false</code>, <code>true</code>
    %td <code>false</code>
    %td Allows to display the start view when a video playback ends.

:textile

  h4. Native @<video>@-equivalent

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
  %tr.alt
    %th Name
    %th Values
    %th Default
    %th Notes
  %tr
    %td
      %strong autoplay
    %td <code>false</code>, <code>true</code>
    %td <code>false</code>
    %td Allows to autoplay the video once it's ready to start.
  %tr.alt
    %td
      %strong loop
    %td <code>false</code>, <code>true</code>
    %td <code>false</code>
    %td Allows to loop the video once its playback ends.

:textile

  h4. Stats-related settings

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
  %tr.alt
    %th Name
    %th Values
    %th Default
    %th Notes
  %tr
    %td
      %strong data-name
    %td <code>any string</code>
    %td
    %td See the <a href="optimize-for-stats">Optimize &lt;video&gt; elements for stats</a> page.
  %tr.alt
    %td
      %strong data-uid
    %td <code>any string</code>
    %td
    %td See the <a href="optimize-for-stats">Optimize &lt;video&gt; elements for stats</a> page.
  -#%tr
  -#  %td
  -#    %strong data-vid
  -#  %td
  -#  %td <code>[SV_HOSTED_VIDEO_TOKEN]</code>
  -#  %td

:textile

  h3. Lightbox Settings (applied on &lt;a&gt; elements)

  These settings must be applied on the @<a>@ element that triggers the lightbox opening. Please see the "Lightbox add-on":lightbox page for more information.

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
  %tr.alt
    %th Name
    %th Values
    %th Default
    %th Description & Notes
  %tr
    %td
      %strong autoplay
    %td <code>true</code>, <code>false</code>
    %td <code>true</code>
    %td Allows to autoplay the video once the lightbox opens.
  %tr.alt
    %td
      %strong overlay-color
    %td <code>word</code>, <code>#hex</code>, <code>rgb</code>
    %td <code>black</code>
    %td Allows to customize the lightbox overlay color. See the <a href="addons/lightbox">Lightbox add-on</a> page.
  %tr
    %td
      %strong overlay-opacity
    %td <code>a float between 0.1 and 1.0</code>
    %td <code>0.7</code>
    %td Allows to customize the lightbox overlay opacity. See the <a href="addons/lightbox">Lightbox add-on</a> page.
  %tr
    %td
      %strong close-button
    %td <code>default</code>, <code>none</code>
    %td <code>default</code>
    %td Allows to completely hide the lightbox close button.
  %tr.alt
    %td
      %strong close-button-position
    %td <code>left</code>, <code>right</code>
    %td <code>left</code>
    %td Allows to choose where the lightbox close button should be placed.
  %tr.alt
    %td
      %strong controls
    %td <code>default</code>, <code>none</code>, <code>sticky</code>
    %td <code>default</code>
    %td Allows to completely hide the controls or to always display them.
  %tr
    %td
      %strong stop-on-end
    %td <code>false</code>, <code>true</code>
    %td <code>false</code>
    %td Allows to display the start view when a video playback ends.

:textile

  h3(#demo). "Demo":#demo

  You can see this feature in action "on this page":http://test.sublimevideo.net/autoplay.
