- @page_title = "Playlists"

%h2= @page_title

:textile
  The example presented here allows your visitors to select which video to play by clicking on any of the thumbnails in the playlist. The selected video will be shown in the player; once the video finishes playing, the next one will automatically play.

  In this example, we are making extensive use of our "JavaScript API":/javascript-api.

  #{jsfiddle_embed('6nJkY', height: 600, panes: 'result,html,js,css')}

  *Notes:*

  * Make sure you embed the jQuery library in your page! You can find the latest version "here":http://code.google.com/apis/libraries/devguide.html#jquery.
  * Put the JavaScript code in a @<script>@ element just before the @</body>@ tag, or in an external file.
  * Put the CSS code in a @<style>@ element in the @<head>@ tag, or in an external file.
  * Please make sure to adapt the CSS code to your site's own design as well as uploading the "playlist_play_icon.png":http://media.jilion.com/images/playlist_play_icon.png image to your own server.
  * In the future, we plan to include a built-in playlist function that will make this feature even easier to implement, without the need to know any JavaScript.
