- @page_title = "Player settings"

%h2= @page_title

:textile
  h3(#syntax). "Syntax":#syntax

  Settings can be set in 2 different ways.

  h4. Via @data-@_@attribute-name@_ attributes

  Each setting can be set via a @data-@ attribute on the @<video>@ element.

  For instance:

  bc(language-markup). <video data-autoresize="fit" data-initial-overlay="none" ...>

  h4. Grouped in a single @data-settings@ attribute

  If you have multiple settings to specify, you can also group them in a single @data-settings@ attribute, as a CSS-like formatted string.

  For instance:

  bc(language-markup). <video data-settings="autoresize: fit; initial-overlay: none;" ...>

  h3(#settings). "Settings":#settings

  These settings can be set on the @<video>@ element.

  h4. General

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
  %tr.alt
    %th Name
    %th Values
    %th Default
    %th Description & Notes
  %tr
    %td
      %strong initial-overlay
    %td <code>hidden</code><br /><code>autofade</code>
    %td <code>autofade</code>
    %td.notes Allows you to choose between: hiding the initial overlay effect, or displaying it upon mousover.<br />View <a href="custom-start-view">demo</a>.
  -#%tr.alt
  -#  %td
  -#    %strong initial-overlay-color
  -#  %td <code>literal</code><br /><code>#hexadecimal</code><br /><code>rgb</code>
  -#  %td <code>#000</code>
  -#  %td Customizes the initial overlay color.<br />View <a href="custom-start-view">demo</a>.
  %tr.alt
    %td
      %strong autoresize
    %td <code>none</code><br /><code>fill</code><br /><code>fit</code>
    %td <code>none</code>
    %td.notes Resizes the video when its parent container is resized.<br />View <a href="responsive-layout">demo</a>.
  %tr
    %td
      %strong force-flash
    %td <code>true</code><br /><code>false</code>
    %td <code>false</code>
    %td.notes Enforces the usage of Flash for the video decoding instead of the native browser decoding.
  %tr.alt
    %td
      %strong force-fullwindow
    %td <code>true</code><br /><code>false</code>
    %td <code>false</code>
    %td.notes Uses full-window instead of full-screen.
  %tr
    %td
      %strong enable-fullmode
    %td <code>true</code><br /><code>false</code>
    %td <code>true</code>
    %td.notes Whether to display the full-window/full-screen button or not.
  %tr.alt
    %td
      %strong enable-volume
    %td <code>true</code><br /><code>false</code>
    %td <code>true</code>
    %td.notes Whether to display the volume button or not.
  %tr
    %td
      %strong controls
    %td <code>hidden</code><br /><code>autohide</code><br /><code>visible</code>
    %td <code>autohide</code>
    %td.notes Allows you to choose between: hiding the controls, displaying them only upon mousover, or permanently displaying them.
  %tr.alt
    %td
      %strong autoplay
    %td <code>true</code><br /><code>false</code>
    %td <code>false</code>
    %td.notes Automatically plays the video upon page load. You can also set this setting directly on the <code>&lt;video&gt;</code> element without a value.<br />View <a href="autoplay">demo</a>.
  %tr
    %td
      %strong loop
    %td <code>true</code><br /><code>false</code>
    %td <code>false</code>
    %td.notes Loops the video once its playback ends. This is equivalent to <code>data-on-end="replay"</code>. You can also set this setting directly on the <code>&lt;video&gt;</code> element without a value.<br />View <a href="custom-behavior-on-end">demo</a>.
  %tr.alt
    %td
      %strong on-end
    %td <code>nothing</code><br /><code>replay</code><br /><code>stop</code>
    %td <code>nothing</code>
    %td.notes Allows you to choose between: doing nothing, replaying the video, or displaying the start view when a video playback ends.<br />View <a href="custom-behavior-on-end">demo</a>.

:textile
  h4. Stats-related settings

  Please see the "Optimize &lt;video&gt; elements for stats":optimize-for-stats page for more information.

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
  %tr.alt
    %th Name
    %th Values
    %th Default
    %th Description & Notes
  %tr
    %td
      %strong data-name
    %td any string
    %td N/A
    %td.notes
  %tr.alt
    %td
      %strong data-uid
    %td any string
    %td N/A
    %td.notes
