- @page_title = "Quickstart Guide"

%h2= @page_title

:textile
  h3(#setup). "Setup your site with the Setup Assistant":#setup

  Log into #{link_to "MySublimeVideo", my_url('sites')}, click on the "+ Add a site" button and follow the 5 steps of the Setup Assistant carrefully.

  h3(#players). "Manage your site":#players

  #{image_tag('my_sites_actions_menu.png', width: 640, class: 'screenshot', title: 'Actions menu in the My Sites page')}

  On the #{link_to "My Sites", my_url('sites')} page, you can quickly access any of the following pages for any of your sites:

  * *Add-ons:* Subscribe to new add-ons or cancel an add-on subscription.
  * *Players:* Edit your existing players or create new ones.
  * *Publish video:* Use our "Video Publishing Assistant":video-publishing-assistant to generate proper @<video>@ elements. You can also access this page via the big blue "Publish Video" button
  * *Loader code:* Get the code that will embed SublimeVideo in your site.
  * *Settings:* Manage your site' settings such as alias/staging/development domains, wildcard and path option.
  * *Invoices:* View all your site's invoices.

  h3(#whats-next). "What's next?":#whats-next

  Learn how to use "the Lightbox feature":lightbox, play with our "JS API":javascript-api or "customize your player":/beta/settings (beta player only).
