= content_for :javascript, javascript_include_tag('http://cdn.sublimevideo.net/js/12665678-alpha.js')

- @page_title = "Integration in a responsive layout"

%h2= @page_title

:textile
  You can use the following "player setting":player-setting:

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
  %tr.alt
    %th Name
    %th Values
    %th Default
    %th Description & Notes
  %tr
    %td
      %strong autoresize
    %td <code>none</code><br /><code>fill</code><br /><code>fit</code>
    %td <code>none</code>
    %td.notes Resizes the video when its parent container is resized.

:textile
  h4. Demo, @autoresize: none@

  bc(language-markup). <video class='sublime' data-settings='autoresize: none' poster='http://media.jilion.com/vcg/ms_800.jpg' width='432' height='243' preload='none'>
    <source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_360p.mp4' />
    <source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_270p.mp4' data-quality='hd' />
    <source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_360p.webm' />
  </video>​

<div style="margin-bottom:20px; width:100%; height: 300px;">
<video class='sublime' poster='http://media.jilion.com/vcg/ms_800.jpg' width='432' height='243' preload='none' data-settings='autoresize: none'>
<source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_360p.mp4' />
<source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_270p.mp4' data-quality='hd' />
<source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_360p.webm' />
</video>​</div>
:textile

  h4. Demo, @autoresize: fill@

  bc(language-markup). <video class='sublime' data-settings='autoresize: fill' poster='http://media.jilion.com/vcg/ms_800.jpg' width='432' height='243' preload='none'>
    <source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_360p.mp4' />
    <source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_270p.mp4' data-quality='hd' />
    <source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_360p.webm' />
  </video>​

<div style="margin-bottom:20px; width:100%; height: 300px;">
<video class='sublime' poster='http://media.jilion.com/vcg/ms_800.jpg' width='432' height='243' preload='none' data-settings='autoresize: fill'>
<source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_360p.mp4' />
<source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_270p.mp4' data-quality='hd' />
<source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_360p.webm' />
</video>​</div>
:textile

  h4. Demo, @autoresize: fit@

  bc(language-markup). <video class='sublime' data-settings='autoresize: fit' poster='http://media.jilion.com/vcg/ms_800.jpg' width='432' height='243' preload='none'>
    <source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_360p.mp4' />
    <source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_270p.mp4' data-quality='hd' />
    <source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_360p.webm' />
  </video>​

<div style="margin-bottom:20px; width:100%; height: 300px;">
<video class='sublime' poster='http://media.jilion.com/vcg/ms_800.jpg' width='432' height='243' preload='none' data-settings='autoresize: fit'>
<source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_360p.mp4' />
<source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_270p.mp4' data-quality='hd' />
<source src='http://media.jilion.com/videos/demo/midnight_sun_sv1_2_360p.webm' />
</video>​</div>
