- @page_title = "What's new in the SublimeVideo Player Beta?"

%h2= @page_title

:textile
  h3(#new-features). "New features":#new-feat

  * Built on top of the SublimeVideo Horizon framework. This allows advanced designs that look awesome on any browser and device.
  * "Easy YouTube integration":video-hosting.
  * Possibility to display "your custom logo":addons/logo.
  * Two new designs: "Flat" and "Light".
  * "Many new settings":player-settings:
    - Autoresize (none / fill / fit), "learn more":responsive-layout.
    - Autoplay, "learn more":autoplay.
    - Customization of the behavior at the video end playback.
    - Enable / disable fullscreen.
    - Use full-window instead of full-screen.
    - Force Flash.
    - Hide controls bar or make it always visible.
    - Display / hide volume control.
    - Customize the start view, "learn more":custom-start-view.
    - Choose the position of the SublimeVideo logo, "learn more":addons/logo.
  * New error messages when:
    - No sources found.
    - Flash not found.
    - Flash version not supported.
    - No Playable Sources.

  h3(#improvements). "Improvements":#improvements

  * Better mobile devices support, especially "Android devices":supported-browsers-and-platforms.
  * The "lightbox":addons/lightbox has been greatly improved:
    - Separation of the @<video>@ and its opening trigger(s) to make the lightbox usage more flexible and user-friendly.
    - Possibility to customize the behavior of the video on lightbox opening.
    - Possibility to customize the overlay opacity.
    - Possibility to customize the visibility and position of the close button.
    - The lightbox can now officially open images as well!
  * The "Classic" design has been revamped.
