- @page_title = "What's new in the SublimeVideo Player Beta?"

%h2= @page_title

:textile
  h3(#new-features). "New features":#new-feat

  * #{link_to "New SublimeVideo Player", layout_url('modular-player')} (in Beta) powered by the #{link_to "SublimeVideo Horizon", layout_url('horizon-framework')}. This allows advanced designs that look awesome on any browser and device.
  * "Easy YouTube integration":youtube.
  * Possibility to display your custom logo.
  * Two new _Flat_ and _Light_ designs.
  * "Keybord control":keyboard.
  * "Many new settings":settings:
    - "Autoresize":responsive-layout (none / fill / fit).
    - "Autoplay":autoplay.
    - Customization of the behavior at the video end playback.
    - Enable / disable fullscreen.
    - Use full-window instead of full-screen.
    - Hide controls bar or make it always visible.
    - Enable / disable volume control.
    - "Customize the start view":custom-start-view.
  * New error messages when:
    - No sources found.
    - Flash not found.
    - Flash version not supported.
    - No Playable Sources.

  h3(#improvements). "Improvements":#improvements

  * Better mobile devices support, especially "Android devices":supported-platforms.
  * The "lightbox":settings/lightbox-settings has been greatly improved:
    - Separation of the @<video>@ and its opening trigger(s) to make the lightbox usage more flexible and user-friendly.
    - Possibility to customize the behavior of the video on lightbox opening.
    - Possibility to customize the overlay opacity.
    - Possibility to customize the visibility and position of the close button.
    - The lightbox can now officially display images as well!
  * The "Classic" design has been revamped.
