- @page_title = "Use SublimeVideo with YouTube videos"

%h2= @page_title

:textile
  Integrating a YouTube video with SublimeVideo is very easy:

  *Just copy and paste the YouTube video URL into the Video Publishing Assistant (in the “Video sources” section).*

  Alternatively, if you're writing your @<video>@ element manually, you need to get the YouTube video ID (see the "v" parameter “v=YOUTUBE_ID” in the URL) and set it as follow:

  bc(language-markup). <video class="sublime" data-youtube-id="YOUTUBE_ID" width="640" height="360" preload="none"></video>

  *Note:*
  * The posterframe is taken from YouTube but you can still override it if you prefer (with the @poster@ attribute).
  * Set the @width@ and @height@ attributes to the correct values depending on your video.
  * Don't set any @<source>@ elements.

  h4(#youtube-demo). "Demo":#youtube-demo

  The following video, hosted on YouTube, plays inside the SublimeVideo Classic Player.

<div class="video_wrap"><video class="sublime" width="640" height="360" data-uid="docs-youtube" data-youtube-id="rAq2rNEru8A" preload="none"></video></div>
