- @page_title = "Lightbox API"

%h2= @page_title

:textile
  "(c)@open@":/beta/javascript-api/lightbox#open "(c)@close@":/beta/javascript-api/lightbox#close "(c)@on@":/beta/javascript-api/lightbox#on

  See also "Using the JavaScript API":/beta/javascript-api/usage, "Application API":/beta/javascript-api/application and "Player API":/beta/javascript-api/player.

  <div class="breakline"></div>

  These APIs are to be called on @lightbox@ objects, you can retrieve them in the following way

  bc(language-javascript). var lightbox = sublime.lightbox(elementOrId);

  which is equivalent to

  bc(language-javascript). var lightbox = sublime(elementOrId);



  h3(#open). "@lightbox.open()@":#open

  Opens the lightbox. If it's already opened, this call has no effect.

  h3(#close). "@lightbox.close()@":#close

  Closes the lightbox. If it's already closed, this call has no effect.




  h3(#on). "@lightbox.on(eventOrHash, [callback])@":#on

  * <span class="param">@eventOrHash@</span> (@String@ | @Object@) - A string representing the event name to listen, or an object where its keys are events and its values are callbacks.

  * <span class="param">@callback@</span> (@Function@) - The function to call when the event occurs. Pass this parameter only if the first one is an event (@String@).

  Registers and invokes the given callbacks every time that the corresponding events occur.

  *Supported events*
  * @contentready@ Fired when the lightbox's content has been prepared.
  * @didopen@ Fired when the playback starts.
  * @didclose@ Fired when the playback ends.

  **Example - listening a single event**

  bc(language-javascript). lightbox.on('didopen', function() {
    console.log('lightbox opened.');
  })

  **Example - listening more events**

  bc(language-javascript). lightbox.on({
    contentready: function() { console.log('content ready.') },
    didopen:      function() { console.log('lightbox opened.') },
    didclose:     function() { console.log('lightbox closed.') }
  })


