:textile
  Be sure your MP4/H.264 video file doesn't exceed the maximum resolution/bitrate supported by your mobile device, otherwise you need to specify an additional @<source>@ element as explained in "how to write proper @<video>@ elements":/write-proper-video-elements section.
