:textile
  If your @<video>@ element is hidden (@display:none@) and you don't want it to be shown on page load, just do *not* add the _sublime_ @class@ to it. To show the video, use the JavaScript API "(c)@sublimevideo.prepare@":/javascript-api/methods#prepare method.
