:textile
  SublimeVideo currently only supports videos delivered through HTTP. This is because HTTP is currently the only protocol supported by HTML5 Video consistently on all browsers.

  RTMP support is something we plan to add in future, but it means our player will be forced into Flash mode, because HTML5 doesn't – and will probably never – support RTMP.
