:textile
  SublimeVideo can be served via SSL, simply use the player embed code that we give you.
  It looks like this:

  bc(language-markup). <script src="//cdn.sublimevideo.net/js/YOUR_TOKEN.js" type="text/javascript"></script>
