:textile
  h2. #{title('Google Analytics integration')}

  Integrating Google Analytics Event Tracking with SublimeVideo is very simple. Using our current "JavaScript API":/javascript-api you can track "video started" and "video ended" events. Here are the two steps you'll need to implement this integration.

  h3(#step-1). "Step 1: Embed the Google Analytics tracking code":#step-1

  If you're already using Google Analytics Web Tracking in your site, you can skip this step since you already have embedded the tracking code in your website. Otherwise, please consult the "Tracking Code Quickstart":https://developers.google.com/analytics/devguides/collection/gajs/#quickstart for instructions on how to setup the Google Analytics tracking code.

  h3(#step-2). "Step 2: Setup the events to track":#step-2

  Put the following code in a @<script>@ element.

  <pre data-line=11,15><code class="language-javascript">/*
  Note: This is only a simple example, Google Analytics event tracking lets you
  customize the way you track events
  Be sure to check out the Google Analytics integration guides for any more info:
   - http://code.google.com/apis/analytics/docs/tracking/eventTrackerGuide.html
   - http://code.google.com/apis/analytics/docs/gaJS/gaJSApiEventTracking.html
   - http://code.google.com/apis/analytics/docs/gaJS/gaJSApi.html
  */
  sublimevideo.ready(function() {
    sublimevideo.onStart(function(sv) {
      _gaq.push(["_trackEvent", "Videos", "Started"]);
    });

    sublimevideo.onEnd(function(sv) {
      _gaq.push(["_trackEvent", "Videos", "Ended"]);
    });
  });</code></pre>

  h3(#additional-parameters). "Additional parameters":#additional-parameters

  You can send additional parameters when calling the @_gaq.push()@ method (lines 11 & 15). For instance you could send a "label" parameter with the value @sv.element.getAttribute("data-name") + " [" + sv.mode + "]"@. This would send the video "@data-name@ attribute":optimize-for-stats and the mode used (_html5_ or _flash_).

  It would look something like this:

  <pre><code class="language-javascript">sublimevideo.ready(function() {
    sublimevideo.onStart(function(sv) {
      _gaq.push(["_trackEvent", "Videos", "Started", sv.element.getAttribute("data-name") + " [" + sv.mode + "]"]);
    });

    sublimevideo.onEnd(function(sv) {
      _gaq.push(["_trackEvent", "Videos", "Ended", sv.element.getAttribute("data-name") + " [" + sv.mode + "]"]);
    });
  });</code></pre>

  Learn more about additional parameters in the "Google Analytics Event Tracking Guide":https://developers.google.com/analytics/devguides/collection/gajs/eventTrackerGuide.

  h3(#demo). "Demo":#demo

  You can see this feature in action "on this page":http://test.sublimevideo.net/google-analytics-integration.
