:textile
  h2. #{title('Create a poster frame')}

  The poster frame is the image displayed behind the initial start view which represents the video until the user clicks on the play button. We recommend you always specify a poster frame.

  It's important that your poster frame has the same aspect ratio as your video file, or your viewers will see black bars appearing either above and below or on the sides of the player.

  h3(#installation). "Easily create a poster frame using VLC":#introduction

  "VLC":http://www.videolan.org/vlc is a free and open source cross-platform multimedia player that allows you to easily take a snapshot of your video.

  To take a snapshot using VLC, simply open your video file, drag the scrubber handle to the precise moment where you'd like to take a snapshot and Right-click -> Snapshot (or @ctrl+alt+s@ on Windows/Linux, @cmd+alt+s@ on Mac).

  #{image_tag('create-poster-frame/vlc-snapshot.png', title: 'VLC snapshot')}

  All you need to do with the generated snapshot is rename it and resize it - using a simple image editing tool - to the same dimensions as your video embed (be sure to respect the aspect ratio when resizing the image).
