- @page_title = "SSL Serving"

%h2= @page_title

:textile
  _SSL Serving of the SublimeVideo Player is included with all paid plans._

  In order to use SublimeVideo on both secure (https://) and non-secure (http://) pages, simply use the following scheme-less loader code:

  bc(language-markup). <script src="//cdn.sublimevideo.net/js/YOUR_TOKEN.js" type="text/javascript"></script>

  *Make sure to replace _YOUR_TOKEN_ with your actual site's token (you can find it in the _#{link_to "My sites", my_url('sites')}_ page after clicking the "Loader Code" button).*
