= content_for :javascript, javascript_include_tag('http://test.sublimevideo.net/cdn/js/12345678.js')

- @page_title = "Add-ons: Lightbox"

%h2= @page_title

:textile
  _The lightbox add-on is *available for free* in the standard player._

  The lightbox add-on displays your videos but also your images in a floating player. The lightbox-opening trigger is a simple @<a>@ element, and you can have multiple @<a>@ that open the same video or image in a lightbox.

  While it is possible to integrate SublimeVideo with other lightbox libraries (you'll need to use our "JavaScript API":/javascript-api for this), we highly recommend using SublimeVideo's lightbox add-on to get the easiest and best possible lightbox integration for your videos.

  h3(#step-1). "Step 1: Create a &lt;a&gt; element":#step-1

  bc(language-markup). <a class="sublime" href="#video1">Play the video with the ID "video1"</a>

  * @class="sublime"@ is needed.
  * @href@ must be set to "#UNIQUE_ID" where _UNIQUE_ID_ is the @DOM ID@ of the video that you'd like to open in a lightbox. *This allows you to have several links that opens the same @<video>@.*

  h3(#step-2). "Step 2: Create a &lt;video&gt; element":#step-2

  bc(language-markup). <video id="video1" style="display:none" width="640" height="360" poster="video-poster.jpg" preload="none">
    <source src="http://yoursite.com/video.mp4" />
    <source src="http://yoursite.com/video.webm" />
  </video>

  * The @DOM ID@ must corresponds to the value you've set in the @href@ of the @<a>@ element created in "Step 1":#step-1.
  * Don't add the _sublime_ @class@ to the @<video>@.
  * The @<video>@ element needs to be initially hidden.

  h3(#lightbox-settings). "Lightbox settings":#lightbox-settings

  It's easy to customize how your lightbox will look and behave with the following "player settings":player-settings (be sure to set these settings on the @<a>@, not on the @<video>@):

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
  %tr.alt
    %th Name
    %th Values
    %th Default
    %th Description & Notes
  %tr
    %td
      %strong autoplay
    %td <code>true</code><br /><code>false</code>
    %td <code>true</code>
    %td Allows to autoplay the video once the lightbox opens.
  %tr.alt
    %td
      %strong overlay-color
    %td <code>literal</code><br /><code>#hexadecimal</code><br /><code>rgb</code>
    %td <code>black</code>
    %td Allows to customize the lightbox overlay color.
  %tr
    %td
      %strong overlay-opacity
    %td a float between 0.1 and 1.0
    %td <code>0.7</code>
    %td Allows to customize the lightbox overlay opacity.
  %tr
    %td
      %strong close-button
    %td <code>default</code><br /><code>none</code>
    %td <code>default</code>
    %td Allows to completely hide the lightbox close button.
  %tr.alt
    %td
      %strong close-button-position
    %td <code>left</code><br /><code>right</code>
    %td <code>left</code>
    %td Allows to choose where the lightbox close button should be placed.

:textile
  h3. Demo

  #{jsfiddle_embed('G9748', height: 500)}
​
