= content_for :javascript, javascript_include_tag('http://test.sublimevideo.net/cdn/js/12345678.js')

- @page_title = "Add-ons: Logo"

%h2= @page_title

:textile
  The logo add-on allows you to disable the SublimeVideo logo or replace it with your own logo.

:textile
  h3. Demo

