= content_for :javascript, sublimevideo_docs_include_tag
- @page_title = "Add-ons: Logo"

%h2= @page_title

:textile
  The Logo add-on has one free tier that allows you to define the position of the SublimeVideo logo.

  The second tier of the Logo add-on allows you to disable the SublimeVideo logo while the third tier allows you to display your own custom logo.

  h3. Settings

  The following settings respect the "Player settings syntax":player-settings.

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
  %tr.alt
    %th Name
    %th Values
    %th Default
    %th Description & Notes
  %tr
    %td
      %strong logo
    %td <code>hidden</code><br /><code>autohide</code>
    %td <code>autohide</code>
    %td.notes Allows you to choose between: hiding the SublimeVideo logo, or displaying it at the beginning of the video.<br /><strong>Note: the <code>hidden</code> value is allowed only if you're in the 2nd & 3rd tier.</strong>
  %tr.alt
    %td
      %strong logo-position
    %td <code>top-left</code><br /><code>top-right</code><br /><code>bottom-left</code><br /><code>bottom-right</code>
    %td <code>bottom-right</code>
    %td.notes Defines where the logo (SulimeVideo's or your own) should be placed.
  %tr
    %td
      %strong logo-action-url
    %td <code>any URL</code>
    %td <code>–</code>
    %td.notes <strong>3rd tier only</strong>. Defines the URL to open once a visitor clicks your logo.

:textile
  h4(#demo). "Demo":#demo

  #{jsfiddle_embed('vHFsy')}
