- @page_title = "Add-ons: On Video Logo"

%h2= @page_title

:textile
  The On Video Logo add-on has one free tier that allows you to define the visibility of the SublimeVideo logo.

  The second tier of the On Video Logo add-on allows you to disable the SublimeVideo logo while the third tier (free during beta) allows you to display your own logo and choose its position (top-left, top-right, bottom-left, bottom-right.

  h3. Settings

  The following settings respect the "Player settings syntax":player-settings.

  h4. @logo@

  Shorthand setting that allows you to define all the On Video Logo settings in a single declaration. Omitted settings are set to their default value.

  *Allowed values:*
  * @logo-type [logo-visibility || logo-position || logo-link-url]@ – Values must be separated by a whitespace.
  * @none@ – Don't display any logo. Allowed only if you're in the 2nd & 3rd tier of the add-on.

  *Note:*
  * Default is set to @sv autohide bottom-right@.
  * @logo-type@ is mandatory. If you omit a setting, all the settings that come after it must be omitted. For instance, @data-settings="sv visible"@ is correct but @data-settings="sv bottom-left"@ is not.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='logo:custom visible top-left'>
    <source src='video.mp4' />
    <source src='video.webm" />
  </video>

  h4. @logo-type@

  Allows you to choose which logo to display: the SublimeVideo logo or your custom logo.

  *Allowed values:*
  * @sv@ – _(Default)_ Display the SublimeVideo logo.
  * @custom@ – Display your custom logo. Allowed only if you're in the 3rd tier of the add-on.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='logo-type:custom'>
    <source src='video.mp4' />
    <source src='video.webm" />
  </video>

  h4. @logo-visibility@

  Allows you to choose how to display the logo: at the beginning of the video only or during the whole video playback.

  *Allowed values:*
  * @autohide@ – _(Default)_ Display the logo at the beginning of the video only.
  * @visible@ – Display the logo during the whole video playback.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='logo-visibility:visible'>
    <source src='video.mp4' />
    <source src='video.webm" />
  </video>

  h4. @logo-position@

  Defines where the logo (SulimeVideo's or your own) should be placed.

  *Allowed values:*
  * @top-left@ – Display the logo in the top-left corner.
  * @top-right@ – Display the logo in the top-right corner.
  * @bottom-left@ – Display the logo in the bottom-left corner.
  * @bottom-right@ – _(Default)_ Display the logo in the bottom-right corner.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='logo-position:top-left'>
    <source src='video.mp4' />
    <source src='video.webm" />
  </video>

  h4. @logo-link-url@

  Defines the URL to open once a visitor clicks your logo (3rd tier of the add-on).

  *Allowed values:* Any valid URL.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='logo-link-url:http://yourdomain.com'>
    <source src='video.mp4' />
    <source src='video.webm" />
  </video>

-#%table#supported_browsers.data_settings
-#  %colgroup
-#    %col
-#    %col.alt
-#    %col
-#    %col.alt
-#  %tr.alt
-#    %th Name
-#    %th Values
-#    %th Default
-#    %th Description & Notes
-#  %tr.alt
-#    %td
-#      %strong logo
-#    %td <code>logo-type logo-visibility logo-position logo-link-url</code><br /><code>none</code>
-#    %td <code>sv autohide bottom-left</code>
-#    %td.notes Shorthand setting. <strong>Note: <code>none</code> is allowed only if you're in the 2nd & 3rd tier.</strong>
-#  %tr
-#    %td
-#      %strong logo-type
-#    %td <code>sv</code><br /><code>custom</code>
-#    %td <code>sv</code>
-#    %td.notes <strong>3rd tier only.</strong> Defines which logo to display: SublimeVideo's or your own.
-#  %tr.alt
-#    %td
-#      %strong logo-visibility
-#    %td <code>autohide</code><br /><code>visible</code>
-#    %td <code>autohide</code>
-#    %td.notes Allows you to choose between: displaying the logo at the beginning of the video only or displaying it during the whole video playback.
-#  %tr
-#    %td
-#      %strong logo-position
-#    %td <code>top-left</code><br /><code>top-right</code><br /><code>bottom-left</code><br /><code>bottom-right</code>
-#    %td <code>bottom-right</code>
-#    %td.notes Defines where the logo (SublimeVideo's or your own) should be placed.
-#  %tr.alt
-#    %td
-#      %strong logo-link-url
-#    %td <code>any URL</code>
-#    %td <code>–</code>
-#    %td.notes <strong>3rd tier only.</strong> Defines the URL to open once a visitor clicks your logo.

:textile
  h3(#demo). "Demo":#demo

  #{jsfiddle_embed('vHFsy')}
