= content_for :javascript, javascript_include_tag('http://test.sublimevideo.net/cdn/js/12345678.js')

- @page_title = "Add-ons: SublimeVideo logo"

%h2= @page_title

:textile
  _The SublimeVideo logo add-on is a *paid add-on*._

  The SublimeVideo logo add-on allows you to disable the SublimeVideo logo.

:textile
  h3. Demo

