-#= content_for :javascript, sublimevideo_include_tag(request.ssl?, :docs).html_safe
= content_for :javascript, javascript_include_tag('http://cdn.sublimevideo.net/js/12665678-alpha.js')
- @page_title = "Add-ons: SublimeVideo logo"

%h2= @page_title

:textile
  _The SublimeVideo logo add-on is a *paid add-on*._

  The SublimeVideo logo add-on allows you to disable the SublimeVideo logo.

  h3. Settings

  The following settings respect the "Player settings syntax":player-settings.

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
  %tr.alt
    %th Name
    %th Values
    %th Default
    %th Description & Notes
  %tr
    %td
      %strong sv-logo
    %td <code>hidden</code><br /><code>autohide</code>
    %td <code>autohide</code>
    %td.notes Allows you to choose between: hiding the SublimeVideo logo, or displaying it at the beginning of the video.
  %tr.alt
    %td
      %strong sv-logo-position
    %td <code>bottom-right</code><br /><code>bottom-left</code>
    %td <code>bottom-right</code>
    %td.notes Defines where the SublimeVideo logo should be placed.

:textile
  h3. Demo
