:textile
  If your @<video>@ element is hidden (@display:none@) and you don't want it to be shown on page load, simply remove the _sublime_ @class@ from your @<video>@ element. To show the video, use the JavaScript API "(c)@sublimevideo.prepare@":/javascript-api/methods#prepare method.
