:textile
  No, for the moment we focus exclusively on providing the best HTML5 Video Player. What’s more, we give you the freedom to use SublimeVideo player with your preferred encoding and hosting solution. Amongst the available options, SublimeVideo Player works perfectly with Vimeo Pro hosting. We also provide a full integration with YouTube.

  In the near future, we intend to provide you with even more choices as we will develop an integrated encoding and hosting service directly available on SublimeVideo.
