- @page_title = "Player settings"

%h2= @page_title

:textile
  These settings can be set on the @<video>@ element. Please note that they must be set @before@ preparing the video.

  h4. Start view settings

  "(c)@initial-overlay-enable@":#initial-overlay-enable "(c)@initial-overlay-visibility@":#initial-overlay-visibility

  h4. Player behavior settings

  "(c)@autoresize@":#autoresize "(c)@on-end@":#on-end "(c)@volume-enable@":#volume-enable "(c)@fullmode-enable@":#fullmode-enable "(c)@fullmode-priority@":#fullmode-priority

  h4. Controls settings

  "(c)@controls-enable@":#controls-enable "(c)@controls-visibility@":#controls-visibility

  h4. Video metadata settings

  "(c)@name@":#name "(c)@uid@":#uid

  See also "Using the player settings":usage and "Lightbox settings":lightbox-settings.

  <div class="breakline"></div>


  h3(#initial-overlay-enable). "@initial-overlay-enable@":#initial-overlay-enable

  Allows you to enable or disable the initial overlay.

  *Allowed values:*
  * @true@ – _(Default)_ Shows the initial overlay.
  * @false@ – Disables the initial overlay.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='initial-overlay-enable:false'>
    ...
  </video>

  See the "Custom start view":/beta/custom-start-view page for more information and live demos.


  h3(#initial-overlay-visibility). "@initial-overlay-visibility@":#initial-overlay-visibility

  Allows you to choose how the initial overlay is displayed.

  *Allowed values:*
  * @autofade@ – _(Default)_ The initial overlay fades-out on mousover.
  * @visible@ – The initial overlay is always visible and doesn't fade-out on mouseover.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='initial-overlay-visibility:visible'>
    ...
  </video>

  See the "Custom start view":/beta/custom-start-view page for more information and live demos.


  h3(#initial-overlay-color). "@initial-overlay-color@":#initial-overlay-color

  Allows you to choose the initial overlay color.

  *Allowed values:*
  * _@literal@_ – e.g. @red@, @green@
  * _@#hexadecimal@_ – e.g. @#fff@ or @#dd0066@
  * _@rgb@_ – e.g. @rgb(255, 100, 0)@

  *Note:*
  * Default is set to @black@.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='initial-overlay-color:red'>
    ...
  </video>

  See the "Custom start view":/beta/custom-start-view page for more information and live demos.


  h3(#autoresize). "@autoresize@":#autoresize

  Resizes the video when its parent container is resized.

  *Allowed values:*
  * @none@ – _(Default)_ The player is not resized automatically.
  * @fill@ – Fills the player's parent and stretch the player if necessary (resulting in letter/pillar-boxed video).
  * @fit@ – Fits the player's to its parent without stretching the player itself (its size will always match the video's aspect-ratio and never shows black bars).

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='autoresize:fill'>
    ...
  </video>

  *Note:* If you set this setting to @fill@ or @fit@, you can omit the @width@ and @height@ attributes in your @<video>@.

  See the "Responsive layout":/beta/responsive-layout page for more information and live demos.


  h3(#on-end). "@on-end@":#on-end

  Allows you to define the player's behavior once a video playback ends.

  *Allowed values:*
  * @nothing@ – _(Default)_ The video's last frame is displayed.
  * @replay@ – The video playback restarts from the beginning.
  * @stop@ – The video goes back to it's initial state and the initial start view (with the play button) is displayed.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='on-end:replay'>
    ...
  </video>

  See the "Custom behavior on end":/beta/custom-behavior-on-end page for more information and live demos.


  h3(#controls-enable). "@controls-enable@":#controls-enable

  Allows you to enable or disable the controls.

  *Allowed values:*
  * @true@ – _(Default)_ Displays the controls.
  * @false@ – Hide and disables the controls.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='controls-enable:false'>
    ...
  </video>


  h3(#controls-visibility). "@controls-visibility@":#controls-visibility

  Allows you to define the controls visibility.

  *Allowed values:*
  * @autohide@ – _(Default)_ The controls auto-hide when the mouse is not over the video.
  * @visible@ – The controls are always visible.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='controls-visibility:visible'>
    ...
  </video>


  h3(#fullmode-enable). "@fullmode-enable@":#fullmode-enable

  Allows you to enable or disable the fullmode feature.

  *Allowed values:*
  * @true@ – _(Default)_ Allows the player to go full-window / fullscreen
  * @false@ – Disables the fullmode resulting in the player unable to go full-window / fullscreen at all.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='fullmode-enable:false'>
    ...
  </video>

  h3(#fullmode-priority). "@fullmode-priority@":#fullmode-priority

  Allows you to choose the default "fullmode" method used when a visitor clicks the "fullscreen" button.

  *Allowed values:*
  * @screen@ – _(Default)_ The player goes to fullscren when possible, and fallbacks to full-window otherwise.
  * @window@ – The player goes to full-window instead of fullscreen.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='fullmode-priority:window'>
    ...
  </video>


  h3(#volume-enable). "@volume-enable@":#volume-enable

  Allows you to enable or disable the volume control.

  *Allowed values:*
  * @true@ – _(Default)_ Enables the volume control.
  * @false@ – Disables the volume control.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='volume-enable:false'>
    ...
  </video>


  h3(#name). "@name@":#name

  Allows you to define a name for your video.

  *Allowed values:*
  * _@any string@_

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='name:My awesome video'>
    ...
  </video>

  *Note:* This setting is used in your "Statistics dashboard":/beta/real-time-stats.

  h3(#uid). "@uid@":#uid

  Allows you to define a unique ID for your video.

  *Allowed values:*
  * _@any string@_ – This string *must be unique* among all your videos.

  *Example:*

  bc(language-markup). <video class='sublime' data-settings='uid:video1'>
    ...
  </video>

  *Note:* This setting is used in your "Statistics dashboard":/beta/real-time-stats.


-#h3(#initial-overlay). "@initial-overlay@":#initial-overlay
-#
-#Shorthand setting that allows you to define all the Initial Overlay settings in a single declaration. Omitted settings are set to their default value.
-#
-#*Allowed values:*
-#* _@initial-overlay-visibility [initial-overlay-color]@_ – Values must be separated by a whitespace.
-#* @none@ – No initial overlay.
-#
-#*Note:*
-#* Default is set to @autofade black@.
-#* _@initial-overlay-visibility@_ is mandatory unless you set @none@.
-#
-#*Example:*
-#
-#bc(language-markup). <video class='sublime' data-settings='initial-overlay:visible red'>
-#  <source src='video.mp4' />
-#  <source src='video.webm" />
-#</video>


-#h3(#fullmode). "@fullmode@":#fullmode
-#
-#Shorthand setting that allows you to define all the Fullmode settings in a single declaration. Omitted settings are set to their default value.
-#
-#*Allowed values:*
-#* _@fullmode-priority@_
-#* @none@ – Disable the fullmode control.
-#
-#*Note:*
-#* Default is set to @screen@.
-#* _@fullmode-priority@_ is mandatory unless you set @none@.
-#
-#*Example:*
-#
-#bc(language-markup). <video class='sublime' data-settings='fullmode:none'>
-#  <source src='video.mp4' />
-#  <source src='video.webm" />
-#</video>


-#%table#supported_browsers
-#  %colgroup
-#    %col
-#    %col.alt
-#    %col
-#    %col.alt
-#  %tr.alt
-#    %th Name
-#    %th Values
-#    %th Default
-#    %th Description & Notes
-#  %tr
-#    %td
-#      %strong initial-overlay
-#    %td <code>hidden</code><br /><code>autofade</code>
-#    %td <code>autofade</code>
-#    %td.notes Allows you to choose between: hiding the initial overlay effect, or displaying it upon mousover.<br />View <a href="custom-start-view">demo</a>.
-#  %tr.alt
-#    %td
-#      %strong initial-overlay-color
-#    %td <code>literal</code><br /><code>#hexadecimal</code><br /><code>rgb</code>
-#    %td <code>#000</code>
-#    %td Customizes the initial overlay color.<br />View <a href="custom-start-view">demo</a>.
-#  %tr.alt
-#    %td
-#      %strong autoresize
-#    %td <code>none</code><br /><code>fill</code><br /><code>fit</code>
-#    %td <code>none</code>
-#    %td.notes Resizes the video when its parent container is resized.<br />View <a href="responsive-layout">demo</a>.
-#  %tr
-#    %td
-#      %strong force-flash
-#    %td <code>true</code><br /><code>false</code>
-#    %td <code>false</code>
-#    %td.notes Enforces the usage of Flash for the video decoding instead of the native browser decoding.
-#  %tr.alt
-#    %td
-#      %strong force-fullwindow
-#    %td <code>true</code><br /><code>false</code>
-#    %td <code>false</code>
-#    %td.notes Uses full-window instead of full-screen.
-#  %tr
-#    %td
-#      %strong enable-fullmode
-#    %td <code>true</code><br /><code>false</code>
-#    %td <code>true</code>
-#    %td.notes Whether to display the full-window/full-screen button or not.
-#  %tr.alt
-#    %td
-#      %strong enable-volume
-#    %td <code>true</code><br /><code>false</code>
-#    %td <code>true</code>
-#    %td.notes Whether to display the volume button or not.
-#  %tr
-#    %td
-#      %strong controls
-#    %td <code>hidden</code><br /><code>autohide</code><br /><code>visible</code>
-#    %td <code>autohide</code>
-#    %td.notes Allows you to choose between: hiding the controls, displaying them only upon mousover, or permanently displaying them.
-#  %tr.alt
-#    %td
-#      %strong autoplay
-#    %td <code>true</code><br /><code>false</code>
-#    %td <code>false</code>
-#    %td.notes Automatically plays the video upon page load. You can also set this setting directly on the <code>&lt;video&gt;</code> element without a value.<br />View <a href="autoplay">demo</a>.
-#  %tr
-#    %td
-#      %strong loop
-#    %td <code>true</code><br /><code>false</code>
-#    %td <code>false</code>
-#    %td.notes Loops the video once its playback ends. This is equivalent to <code>data-on-end="replay"</code>. You can also set this setting directly on the <code>&lt;video&gt;</code> element without a value.<br />View <a href="custom-behavior-on-end">demo</a>.
-#  %tr.alt
-#    %td
-#      %strong on-end
-#    %td <code>nothing</code><br /><code>replay</code><br /><code>stop</code>
-#    %td <code>nothing</code>
-#    %td.notes Allows you to choose between: doing nothing, replaying the video, or displaying the start view when a video playback ends.<br />View <a href="custom-behavior-on-end">demo</a>.
-#
-#:textile
-#  h4. Stats-related settings
-#
-#  Please see the "Optimize &lt;video&gt; elements for stats":optimize-for-stats page for more information.
-#
-#%table#supported_browsers
-#  %colgroup
-#    %col
-#    %col.alt
-#    %col
-#    %col.alt
-#  %tr.alt
-#    %th Name
-#    %th Values
-#    %th Default
-#    %th Description & Notes
-#  %tr
-#    %td
-#      %strong data-name
-#    %td any string
-#    %td N/A
-#    %td.notes
-#  %tr.alt
-#    %td
-#      %strong data-uid
-#    %td any string
-#    %td N/A
-#    %td.notes
