- @page_title = "Using the data settings"

%h2= @page_title

:textile
  <span class="red">*Warning* - Most of the settings described here can be set via the "Video Publisher Assistant" and via the "Edit Player" page in #{link_to "MySublimeVideo", my_url('sites')}.
  </span>

  Data settings are settings that you add to a DOM element (@before@ being prepared by the SublimeVideo application) in order to alter it's behaviour once prepared. You can write data settings in two ways

  h4. Via @data-@_@setting-name@_ attributes

  Each setting can be set via a @data-@ attribute on the DOM element.

  For instance:

  bc(language-markup). <video data-autoresize="fit" data-on-end="stop" ...>

  h4. Via the @data-settings@ attribute

  If you have multiple settings to specify, you can also group them in a single @data-settings@ attribute, as a CSS-like formatted string.

  For instance:

  bc(language-markup). <video data-settings="autoresize: fit; on-end: stop;" ...>

  h3. Supported Settings

  See "(c)Player settings":player-settings for the list of supported settings you can put on
  your @<video>@ elements, and "(c)Lightbox settings":lightbox-settings for the list settings supported on the @<a>@ elements.

