%nav
  .search_form
    = form_tag '/search' do
      = text_field_tag :q, '', value: params[:q], placeholder: "Search", type: "search", autofocus: true, autocomplete: :off
      = submit_tag 'Search'

  = display_menu

