- @page_title_prefix = 'SublimeVideo Documentation'

= content_for :javascript, sublimevideo_loader_tag(:www).html_safe

= content_for :header, render('layouts/header')

= content_for :content_menu, render('layouts/menu')

= render template: 'layouts/sublimevideo'
